// begin footer
footer.footer
	.container
		.row
			.col-12.col-md-6.col-lg-4.order-2.order-md-1
				a.logo-footer.d-none.d-md-block(href="#")
					img(src="../img/logo.png", alt="img")
				+b.local
					+e.adress
						span Address:
						br
						|Truskavets, Kobzar sq., 1
					+e.number
						span Telephone:
						+phone('+380 3247 66-222') 
					+e.email
						span E-mail: 
						a(href="mailto:mirotel@mail.com")
							| mirotel@mail.com
			.col-md-6.col-lg-4.order-3.order-md-3.order-lg-2
				.slider-response feedback from our guests
					+b.slider-response-item.d-flex.justify-content-between.flex-column
						+e.p
							|"A charming place."
						+e.h
							|Sebastian Chorba
					+b.slider-response-item.d-flex.justify-content-between.flex-column
						+e.p
							|"Excellent menu. Wonderful views. Pleasant atmosphere."
						+e.h
							|Yulia Kolinko
					+b.slider-response-item.d-flex.justify-content-between.flex-column
						+e.p
							|"The best place in Truskavets. The kitchen is delicious. View all."
						+e.h
							|Volodya Khorolsky
				.response-md-wrap.d-blok.d-md-flex.justify-content-between.align-items-center
					.response.d-flex.justify-content-start.align-items-center
						span.icon-span
							i.icon-google
						a.response-txt(href="https://search.google.com/local/writereview?placeid=ChIJY069ha1JOkcRkiuM4VoDUgY" target="_blank") Leave a review
					ul.socials-wrap.d-flex.justify-content-start
						li
							a(href="#").socials-item.socials-item_instagram
								i.icon-instagram
						li
							a(href="#").socials-item.socials-item_facebook
								i.icon-facebook
			.col-12.col-md-6.col-lg-4.order-1.order-md-2.order-lg-4
				.form-header
					|Leave your data and then you will be the first to know about our special offers, promotions and gastronomic events.
				form(action="sendmail.php" method="post")
					input.imput-form(type="text" placeholder="Enter your name" name="name")
					input.imput-form(type="tel" placeholder="+38 (___) ___-__-__" name="phone" data-req="1")
					input.imput-form(type="email" placeholder="E-mail" name="email")
					button(type="submit" class="send") Send				
// end footer
