// begin header
header.header
	.container
		ul.nav-menu.d-blok.d-lg-none
			li.active-li
				a(href="#") Home
			li
				a(href="#section2") about us
			li
				a(href="#section3") menu
			li
				a(href="#section4") gallery
			li
				a(href="#section5") event
			li
				a(href="#section6") contacts
		.row.align-items-center
			.col-8.col-md-10.col-lg-4.order-1
				a.logo(href="#")
					img(src="../img/logo-header.png", alt="logo")
			.col-12.col-lg-8.order-3
				ul.nav-menu.d-none.d-lg-flex.justify-content-end
					li.active-li
						a(href="#") Home
					li
						a(href="#section2") about us
					li
						a(href="#section3") menu
					li
						a(href="#section4") gallery
					li
						a(href="#section5") event
					li
						a(href="#section6") contacts
			.col-4.col-md-2.d-lg-none.order-2
				.hamburger.hamburger--collapse.js-hamburger
					.hamburger-box
						.hamburger-inner
				// /hamburger
	// end header
	
