// begin footer
footer.footer.flex-column.flex-md-row.d-flex.justify-content-sm-between.align-items-sm-center
	.copyright.order-2.order-md-1
		|Copyright © Company. All Rights Reserved  2016
	.social-block.d-flex.justify-content-center.justify-content-md-end.align-items-center.order-1.order-md-2
		a(href="#").social-block__item
			i.fab.fa-facebook-f
		a(href="#").social-block__item
			i.fab.fa-google-plus-g
		a(href="#").social-block__item
			i.fab.fa-twitter
		a(href="#").social-block__item
			i.fas.fa-basketball-ball
// end footer
