// begin header

header.header
	.container
		.row.align-items-center
			.col-lg-4.col-md-4.col-sm-4.col-3.text-align
				a.logo(href="#") up
					span qode
			.col-lg-8.col-md-8.col-sm-8.col-9.d-flex.justify-content-end
				ul.nav-menu.d-flex.align-items-center#nav-menu-one.js-scroll
					li
						a.nav-menu-a(href="#home" data-title="Home") Home
					li.dropdown
						a.nav-menu-a(href="#products" data-title="Products") Products
						ul.dropdown-content
							li
								a(href="#") Name Surname
							li
								a(href="#") Nelson Noa Chris
							li.dropdown-two
								a(href="#") Name Surname
								ul.dropdown-content-two
									li
										a(href="#") Name Surname
									li
										a(href="#") Nelson Noa Chris
									li
										a(href="#") Name Surname
									li
										a(href="#") Nelson Noa
									li
										a(href="#") Nelson Noa Chris
							li
								a(href="#") Nelson Noa
					li
						a.nav-menu-a(href="#about" data-title="About") About
					li
						a.nav-menu-a(href="#map" data-title="Contact") Contact
				.search
					input(type="text")
					i.fas.fa-search
				button.hamburger.hamburger--collapse(type='button')
					span.hamburger-box
						span.hamburger-inner
	.wrap-menu-m.js-scroll
		.wrap-menu-mobile
			ul.menu-mobile#nav-menu-two
				li
					a(href="#home") Home
				li.item-has-children
					a(href="#") Products
					ul
						li
							a(href="#") Name Surname
						li
							a(href="#") Nelson Noa Chris
						li
							a(href="#") Name Surname
						li.item-has-children
							a(href="#") Nelson Noa
							ul
								li
									a(href="#") Name Surname
								li
									a(href="#") Nelson Noa Chris
								li
									a(href="#") Name Surname
								li
									a(href="#") Nelson Noa
								li
									a(href="#") Nelson Noa Chris
						li
							a(href="#") Nelson Noa Chris
				li
					a(href="#about") About
				li
					a(href="#map") Contact


