#thx.modal
	h2 Спасибо за заявку

#privacy.modal
	h2 Политика конфиденциальности
	p.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quod, aut eligendi consequatur iste, eveniet dolorem aperiam cupiditate ad optio fuga neque omnis hic totamvoluptatem repellat deleniti, voluptas dignissimos.
