extends layout/layout
append config
	- var pageTitle = 'main-page';

block main
	.bg-section#section1.page-section(style="background-image: url('../img/header.jpg')")
		include includes/header.pug
		// begin section-1
		.section-1
			.container.d-flex.justify-content-center.align-items-center
				+b.group-contacts
					+e.logo(style="background-image: url('../img/logo-wht.svg')")
					+e.location
						i.icon.icon-location
						span Truskavets, Kobzar sq., 1
					+e.inf.d-blok.d-md-flex.justify-content-center
						+e.time
							i.icon.icon-clock
							span 10:00 am - 11:00 pm  
						+e.phone
							i.icon.icon-phone
							+phone('+380 3247 66-222')
					+e.txt
						|Enjoy unsurpassed flavors in the five-star hotel
						br
						|Mirotel Resort & Spa
	// begin section-2
	.section-2#section2.page-section
		.container
			.row.d-flex.justify-content-between
				.col-12.col-lg-6
					+b.about-us
						+e.item-1 Wellcome
						+e.item-2 TO OUR RESTAURANT
						+e.item-3
							|Would you like to savor the exquisite cuisine and bring the art of dining to a new level? We obtain the freshest products from reputable purveyors and incorporate them into our exclusive dishes. Our menus are influenced by culinary traditions of Europe, Far East and other parts of the world. We are open to experiments and often add new dishes to our a la carte menu. Our courteous and attentive waiters in smoking jackets will bring you anything you wish.
				.col-12.col-lg-6
					.about-vid
						iframe(width='560', height='335', src='https://www.youtube.com/embed/Rge4TTL0TEA', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
	.parallax-window#section3.page-section(data-parallax='scroll', data-image-src='img/bg-form.jpg')
		//- .parallax(style="background-image: url('../img/header.jpg')")
			.parallax__layer.parallax__layer--back ...
			.parallax__layer.parallax__layer--base ...
		.container
			.h1.h1_paralax Our Menu
			ul.list-inline
				li BREAKFASTS
				li Lunches
				li Dinners
	// begin section-3
	.section-3
		.container
			ul.menu-tabs-list.d-blok.d-md-flex.justify-content-center
				li.active-list
					|all
				li
					|breakfast
				li
					|lunches
				li
					|dinners
				li
					|desserts
				li
					|drinks
			.tabs-content-wrap
				.tab-content-box.d-flex.flex-wrap.justify-content-left.tab-content-active
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
				//tab-content-box	
				.tab-content-box.d-flex.flex-wrap.justify-content-left
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					//tab-content-box
				.tab-content-box.d-flex.flex-wrap.justify-content-left
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					//tab-content-box
				.tab-content-box.d-flex.flex-wrap.justify-content-left
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					//tab-content-box
				.tab-content-box.d-flex.flex-wrap.justify-content-left
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					//tab-content-box
				.tab-content-box.d-flex.flex-wrap.justify-content-left
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					+b.tab-item
						+e.h-pricing
							+e.name Old Timer's Breakfast
							+e.dots
							+e.price ₴220
						+e.p
							|( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits & real butter  )
					//item
					//tab-content-box
			// tabs-content-wrap
	// begin section-4
	.section-4#section4.page-section
		.parallax-window-2(data-parallax='scroll', data-image-src='../img/paralax-2.jpg')
			.container
				.h1.h1_paralax Our Gallery
				ul.list-inline
					li CHECKOUT OUR SPACE
		.gallery-wrap
			.container
				.row.d-flex.justify-content-center
					.col-lg-4.col-md-10
						a.grid-item.grid-item--width1.order-1(href='../img/gallery-1.jpg', data-fancybox='images', data-caption='My caption')
							img(src='../img/gallery-1.jpg', alt='gallery')
						// /grid-item
						.wrap-column-img.d-flex.justify-content-between.order-2
							a.grid-item.grid-item--width2(href='../img/gallery-2.jpg', data-fancybox='images', data-caption='My caption')
								img(src='../img/gallery-2.jpg', alt='gallery')
							// /grid-item
							a.grid-item.grid-item--width2(href='../img/gallery-3.jpg', data-fancybox='images', data-caption='My caption')
								img(src='../img/gallery-3.jpg', alt='gallery')
							// /grid-item
					.col-lg-4.d-flex.flex-column.col-md-10
						a.grid-item.grid-item--width1.order-1.order-lg-2(href='../img/gallery-4.jpg', data-fancybox='images', data-caption='My caption')
							img(src='../img/gallery-4.jpg', alt='gallery')
						// /grid-item
						.wrap-column-img.d-flex.justify-content-between.order-1.order-lg-1
							a.grid-item.grid-item--width2(href='../img/gallery-5.jpg', data-fancybox='images', data-caption='My caption')
								img(src='../img/gallery-5.jpg', alt='gallery')
							// /grid-item
							a.grid-item.grid-item--width2(href='../img/gallery-6.jpg', data-fancybox='images', data-caption='My caption')
								img(src='../img/gallery-6.jpg', alt='gallery')
							// /grid-item
					.col-lg-4.col-md-10
						a.grid-item.grid-item--width1.order-1(href='../img/header.jpg', data-fancybox='images', data-caption='My caption')
							img(src='../img/header.jpg', alt='gallery')
						// /grid-item
						.wrap-column-img.d-flex.justify-content-between.order-2
							a.grid-item.grid-item--width2(href='../img/menu-8840.jpg', data-fancybox='images', data-caption='My caption')
								img(src='../img/menu-8840.jpg', alt='gallery')
							// /grid-item
							a.grid-item.grid-item--width2(href='../img/menu-8830.jpg', data-fancybox='images', data-caption='My caption')
								img(src='../img/menu-8830.jpg', alt='gallery')
							// /grid-item
	// begin section-5
	.page-section#section5
	.parallax-window-3(data-parallax='scroll', data-image-src='../img/header.jpg')
		.container
			.h1.h1_paralax Events
			//- ul.list-inline
			//- li CHECKOUT OUR SPACE
	.section-5
		.container
			.arrow-wrap
				.arrow-next.d-flex.align-items-center.justify-content-center
					i.icon-arrow-right
				.arrow-prev.d-flex.align-items-center.justify-content-center
					i.icon-arrow-left
				.events-slider
					.events-item
						.row
							.col-lg-8
								+b.date-event
									+e.number.d-flex.align-items-center.justify-content-center 14
									+e.month.d-flex.align-items-center.justify-content-center Jn
								// /-date-event
								img.img-events(src="../img/sldr1.jpg", alt="events-img")
							.col-lg-4
								+b.event-post
									+e.post-header Fish Market Dinner
									+e.post-body
										|We will offer your attention the freshest oysters. Visit BELLINI'S PIANO BAR & GRIL and give yourself a gastronomic feast for the enchanting saxophone and piano!
								// /-event-post
								+b.event-post-date-time.d-flex.justify-content-start
									+e.date
										i.icon.icon-calendar
										span 14 January 2019
									+e.time
										i.icon.icon-clock
										span 9:00
					// /events-item
					.events-item
						.row
							.col-lg-8
								+b.date-event
									+e.number.d-flex.align-items-center.justify-content-center 14
									+e.month.d-flex.align-items-center.justify-content-center Jn
								// /-date-event
								img.img-events(src="../img/sldr3.jpg", alt="events-img")
							.col-lg-4
								+b.event-post
									+e.post-header NEW YEAR 2019
									+e.post-body
										|We will offer your attention the freshest oysters. Visit BELLINI'S PIANO BAR & GRIL and give yourself a gastronomic feast for the enchanting saxophone and piano!!
								// /-event-post
								+b.event-post-date-time.d-flex.justify-content-start
									+e.date
										i.icon.icon-calendar
										span 14 January 2019
									+e.time
										i.icon.icon-clock
										span 9:00
					// /events-item
	.page-section#section6
	include includes/footer.pug
	.up-button.index-button
		i.icon-arrow-up
	//- include includes/modals.pug
	//- include includes/button-menu.pug
	//- include includes/btns.pug


	
	