<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="h0">Lorem ipsum dolor</div>
                <div class="txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim .
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <div class="h1">LINKS</div>
                <ul class="txt">
                    <li><a href="">Terms</a></li>
                    <li><a href="">Imprint</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="h1">CONTACT US</div>
                <ul class="list-contact">
                    <li> <i class="icon icon-location"></i>Lorem ipsum dolor sit amet, sit amet, </li>
                    <li> <i class="icon icon-mobile"></i>123-456-7890</li>
                    <li> <i class="icon icon-envelop"></i><a href="mailto:mail@gmail.com">mail@gmail.com</a> </li>
                    <li> <i class="icon icon-map"></i><a href="#"> Our Office Location</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="h-footer">SUBSCRIBE NEWSLETTER</div>
                <div class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </div>
                <div class="subscribe-iput">
                    <i class="icon icon-envelop"></i>
                    <input type="text" placeholder="Enter Email Address" name="name">
                    <button class="button d-none d-sm-inline-block" type="submit">SUBMIT</button>
                </div>
                <button class="button button_xs-footer d-sm-none" type="submit">SUBMIT</button>
                <div class="h1">OTHER LINKS</div>
                <ul class="social">
                    <li>
                        <a href="#">
                            <i class="icon icon-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                              <i class="icon icon-twitter"></i>
                            </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon icon-facebook"></i>
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12">
                <div class="txt"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
            </div>
            <div class="col-lg-6  col-md-4 col-sm-6 col-xs-12">
                <div class="txt"> Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </div>
</div>
<!-- /footer-->