<header>
    <div class="container">
        <div class="row ">
            <div class="col-12 col-sm-5 col-md-3 col-lg-5">
                <div class="logo">BestSellerBusiness</div>
            </div>
            <div class="d-none col-12 col-sm-7 col-md-9 col-lg-7">
                <div class="row">
                    <div class="col-3">
                        <div class="video-menu-item active">
                            <div class="video-menu-item__video-pic" style="background-image: url('img/video-pic.jpg');">
                                <div class="numbering">1</div>
                            </div>
                            <div class="video-menu-item__name ">
                                <span>video#1</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-menu-item">
                            <div class="video-menu-item__video-pic" style="background-image: url('img/video-pic.jpg');">
                                <div class="numbering">2</div>
                            </div>
                            <div class="video-menu-item__name">
                                <span>video#1</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-menu-item">
                            <div class="video-menu-item__video-pic" style="background-image: url('img/video-pic.jpg');">
                                <div class="numbering">3</div>
                            </div>
                            <div class="video-menu-item__name">
                                <span>video#1</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="video-menu-item">
                            <div class="video-menu-item__video-pic" style="background-image: url('img/video-pic.jpg');">
                                <div class="numbering">4</div>
                            </div>
                            <div class="video-menu-item__name">
                                <span>video#1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /header -->
<!-- /video-menu -->