<div class="section-video_final-step" style="background-image: url('img/bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-inner-name">
                    <div class="icon icon-play-button"></div>
                    <div class="video-inner-name__txt">
                        <span class="light">We Will</span> 
                        <span class="bold">Teach</span>
                        <span class="light">You in an</span>
                        <span class="bold">Online Course</span>
                        <span class="light">How to Sell Things on</span>
                        <span class="bold">Amazon.</span>
                    </div>
                    <a class="button">NEXT VIDEO</a>
                </div>
        </div>
        </div>
    </div>
    <div class="video-footer" style="background-image: url('img/wave.svg')"></div>
</div>
<div class="section-reviews_final-step">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- REVIEWS -->
                <div class="reviews">
                    <div class="item">
                        <div class="pic" style="background-image: url('img/images.jpg');"></div>
                        <div class="quote">
                            <div class="h2">Learn From </div>
                            <div class="h1">Work, Connect And Grow At The Factory Campus
                            </div>
                            <div class="paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            </div>
                            <a class="btn-quote button">JOIN NOW</a>
                            <!--   <div class="h3">Mark b.</div> -->
                        </div>
                    </div>
                    <!-- item-->
                    <div class="item">
                        <div class="pic" style="background-image: url('img/images.jpg');"></div>
                        <div class="quote">
                            <div class="h2">Learn From </div>
                            <div class="h1">Learn From
                                <br> The Best At Our Events</div>
                            <div class="paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            </div>
                            <a class="btn-quote button">JOIN NOW</a>
                            <!--   <div class="h3">Mark b.</div> -->
                        </div>
                    </div>
                    <!-- item-->
                    <div class="item">
                        <div class="pic" style="background-image: url('img/images.jpg');"></div>
                        <div class="quote">
                            <div class="h2">Learn From </div>
                            <div class="h1">Learn From
                                <br> The Best At Our Events</div>
                            <div class="paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            </div>
                            <a class="btn-quote button">JOIN NOW</a>
                            <!--   <div class="h3">Mark b.</div> -->
                        </div>
                    </div>
                    <!-- item-->
                    <div class="item">
                        <div class="pic" style="background-image: url('img/images.jpg');"></div>
                        <div class="quote">
                            <div class="h2">Learn From </div>
                            <div class="h1">Learn From
                                <br> The Best At Our Events</div>
                            <div class="paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            </div>
                            <a class="button">JOIN NOW</a>
                            <!--   <div class="h3">Mark b.</div> -->
                        </div>
                    </div>
                    <!-- item-->
                </div>
                <!-- END-REVIEWS -->
            </div>
        </div>
    </div>
</div>
<!-- /reviews -->
<div class="content_final-step" style="background-image: url('img/bg-2.png');">
    <img src="img/men-pic.png" alt="picture">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-3">
                <!-- <div class="pic-men" style="background-image: url('img/bg-2.png');"></div> -->
            </div>
            <div class="col-lg-5 col-md-6 col-sm-9">
                      <div class="list">
                    <div class="h1"> Lorem Ipsum Dolor Sit Amet Constetur Elit.</div>
                    <div class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    </div>
                    <ul>
                        <li> <i class="icon icon-ok"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</li>
                        <li> <i class="icon icon-ok"></i>Lorem ipsum dolor sit amet, </li>
                        <li> <i class="icon icon-ok"></i>Lorem ipsum dolor sit amet, </li>
                        <a class="button">JOIN NOW</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content -->