input:not([type=submit]) {
    width: 100%;
    outline: none;
    display: block;
background: transparent;
    border: 1px solid #ACC1D5;
    box-sizing: border-box;
    border-radius: 3px;
    height: 40px;
    font-size: 13px;
    color: #000;
    font-family: $font;

    @include media-breakpoint-down(xs) {
        height: 35px;

    }

    &::-webkit-input-placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: normal;
        color: #C2C2C2;

    }
}

.input-wrap {
    position: relative;
    background-color: #fff;
z-index: 20;
    @include media-breakpoint-down(sm) {
        margin-bottom: 8px;
    }

    img {
        position: absolute;
        z-index: 10;
        margin: 0;
        left: 17px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.input-form {
    position: relative;
    z-index: 15;
    width: 220px;
    padding-left: 32px;



}

.error {
    border: 1px solid red !important;
}

button:disabled {
    background-color: #b9b8b8 !important;
    box-shadow: none !important;
    cursor: default;
}

.send {

    background: #00B23D;
    border-radius: 4px;
    width: 193px;
    height: 39.5px;
    border: none;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-family: $font;
    color: #fff;

    @include media-breakpoint-down(md) {
        margin-top: 20px;
    }

    @include media-breakpoint-down(xs) {
        width: 100%;
    }

    &:hover {
        background-color: #08d44f;
        transition: .3s;
    }

}

form.calc {
    margin-top: 25px;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }
}

.checkbox-wrap {
    margin-top: 26px;
position: relative;
    @include media-breakpoint-down(md) {
        padding-bottom: 25px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 20px;
    }

    // @include media-breakpoint-down(xs) {
    //     position: relative;
    // }

    &__checkbox-item,
    &__check-modal {
        position: absolute;
        background: #FFFFFF;
        border: 1px solid #00B23D;
        box-sizing: border-box;
        border-radius: 3px;
        width: 17px;
        height: 17px;
        // position: relative;
        margin-top: 5px;
        cursor: pointer;

        @include media-breakpoint-down(sm) {
            width: 18px;
        }

        @include media-breakpoint-down(xs) {
            position: absolute;
            width: 17px;
            height: 17px;
        }
    }

    &__txt {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        font-family: $font;
        color: #626262;
        padding-left: 28px;

        @include media-breakpoint-down(sm) {
            font-size: 10px;
            line-height: 14px;


        }

        @include media-breakpoint-down(xs) {
            padding-left: 25px;
        }

        a {
            color: #626262;

        }
    }
}

.active-check,
.active-check-modal {
    background: transparent url('../img/check.svg') left top no-repeat;
    width: 12px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;

}

.act {
    display: inline-block !important;
}

.input-wrap-modal {
    position: relative;
z-index: 1;
    img {
        position: absolute;
        z-index: 10;
        margin: 0;
        left: 20px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.input-form-modal {
    position: relative;
    z-index: 20;
    width: 230px;
    padding-left: 46px;
    font-family: $font;
    font-size: 15px !important;
    margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }
        @include media-breakpoint-down(sm) {
            margin-bottom: 0px;

        }
    &::-webkit-input-placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 15px !important;
        line-height: normal;
        color: #C2C2C2;
        font-family: $font;


    }
}

.input-h {
    font-size: 16px;
    color: #000;
    font-family: $font;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
            @include media-breakpoint-down(sm) {
                margin-top: 20px;
                font-size: 15px;
            }
}