@import "_placeholder.scss";

// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$helix-name: 'helix';
$helix-x: 0px;
$helix-y: 334px;
$helix-offset-x: 0px;
$helix-offset-y: -334px;
$helix-width: 121px;
$helix-height: 34px;
$helix-total-width: 491px;
$helix-total-height: 368px;
$helix-image: '../img/sprite.png';
$helix: (0px, 334px, 0px, -334px, 121px, 34px, 491px, 368px, '../img/sprite.png', 'helix', );
$icon-alarm-md-name: 'icon-alarm-md';
$icon-alarm-md-x: 392px;
$icon-alarm-md-y: 84px;
$icon-alarm-md-offset-x: -392px;
$icon-alarm-md-offset-y: -84px;
$icon-alarm-md-width: 23px;
$icon-alarm-md-height: 22px;
$icon-alarm-md-total-width: 491px;
$icon-alarm-md-total-height: 368px;
$icon-alarm-md-image: '../img/sprite.png';
$icon-alarm-md: (392px, 84px, -392px, -84px, 23px, 22px, 491px, 368px, '../img/sprite.png', 'icon-alarm-md', );
$icon-alarm-name: 'icon-alarm';
$icon-alarm-x: 0px;
$icon-alarm-y: 0px;
$icon-alarm-offset-x: 0px;
$icon-alarm-offset-y: 0px;
$icon-alarm-width: 170px;
$icon-alarm-height: 181px;
$icon-alarm-total-width: 491px;
$icon-alarm-total-height: 368px;
$icon-alarm-image: '../img/sprite.png';
$icon-alarm: (0px, 0px, 0px, 0px, 170px, 181px, 491px, 368px, '../img/sprite.png', 'icon-alarm', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 299px;
$logo-offset-x: 0px;
$logo-offset-y: -299px;
$logo-width: 158px;
$logo-height: 30px;
$logo-total-width: 491px;
$logo-total-height: 368px;
$logo-image: '../img/sprite.png';
$logo: (0px, 299px, 0px, -299px, 158px, 30px, 491px, 368px, '../img/sprite.png', 'logo', );
$pic-1-name: 'pic-1';
$pic-1-x: 392px;
$pic-1-y: 40px;
$pic-1-offset-x: -392px;
$pic-1-offset-y: -40px;
$pic-1-width: 37px;
$pic-1-height: 39px;
$pic-1-total-width: 491px;
$pic-1-total-height: 368px;
$pic-1-image: '../img/sprite.png';
$pic-1: (392px, 40px, -392px, -40px, 37px, 39px, 491px, 368px, '../img/sprite.png', 'pic-1', );
$pic-2-name: 'pic-2';
$pic-2-x: 434px;
$pic-2-y: 40px;
$pic-2-offset-x: -434px;
$pic-2-offset-y: -40px;
$pic-2-width: 40px;
$pic-2-height: 35px;
$pic-2-total-width: 491px;
$pic-2-total-height: 368px;
$pic-2-image: '../img/sprite.png';
$pic-2: (434px, 40px, -434px, -40px, 40px, 35px, 491px, 368px, '../img/sprite.png', 'pic-2', );
$pic-3-name: 'pic-3';
$pic-3-x: 163px;
$pic-3-y: 299px;
$pic-3-offset-x: -163px;
$pic-3-offset-y: -299px;
$pic-3-width: 158px;
$pic-3-height: 30px;
$pic-3-total-width: 491px;
$pic-3-total-height: 368px;
$pic-3-image: '../img/sprite.png';
$pic-3: (163px, 299px, -163px, -299px, 158px, 30px, 491px, 368px, '../img/sprite.png', 'pic-3', );
$pic-4-name: 'pic-4';
$pic-4-x: 315px;
$pic-4-y: 0px;
$pic-4-offset-x: -315px;
$pic-4-offset-y: 0px;
$pic-4-width: 72px;
$pic-4-height: 110px;
$pic-4-total-width: 491px;
$pic-4-total-height: 368px;
$pic-4-image: '../img/sprite.png';
$pic-4: (315px, 0px, -315px, 0px, 72px, 110px, 491px, 368px, '../img/sprite.png', 'pic-4', );
$pic-5-name: 'pic-5';
$pic-5-x: 175px;
$pic-5-y: 99px;
$pic-5-offset-x: -175px;
$pic-5-offset-y: -99px;
$pic-5-width: 86px;
$pic-5-height: 76px;
$pic-5-total-width: 491px;
$pic-5-total-height: 368px;
$pic-5-image: '../img/sprite.png';
$pic-5: (175px, 99px, -175px, -99px, 86px, 76px, 491px, 368px, '../img/sprite.png', 'pic-5', );
$pic-6-name: 'pic-6';
$pic-6-x: 315px;
$pic-6-y: 115px;
$pic-6-offset-x: -315px;
$pic-6-offset-y: -115px;
$pic-6-width: 68px;
$pic-6-height: 68px;
$pic-6-total-width: 491px;
$pic-6-total-height: 368px;
$pic-6-image: '../img/sprite.png';
$pic-6: (315px, 115px, -315px, -115px, 68px, 68px, 491px, 368px, '../img/sprite.png', 'pic-6', );
$pic-7-name: 'pic-7';
$pic-7-x: 0px;
$pic-7-y: 186px;
$pic-7-offset-x: 0px;
$pic-7-offset-y: -186px;
$pic-7-width: 106px;
$pic-7-height: 108px;
$pic-7-total-width: 491px;
$pic-7-total-height: 368px;
$pic-7-image: '../img/sprite.png';
$pic-7: (0px, 186px, 0px, -186px, 106px, 108px, 491px, 368px, '../img/sprite.png', 'pic-7', );
$pic-8-name: 'pic-8';
$pic-8-x: 175px;
$pic-8-y: 0px;
$pic-8-offset-x: -175px;
$pic-8-offset-y: 0px;
$pic-8-width: 135px;
$pic-8-height: 94px;
$pic-8-total-width: 491px;
$pic-8-total-height: 368px;
$pic-8-image: '../img/sprite.png';
$pic-8: (175px, 0px, -175px, 0px, 135px, 94px, 491px, 368px, '../img/sprite.png', 'pic-8', );
$pic-9-name: 'pic-9';
$pic-9-x: 111px;
$pic-9-y: 186px;
$pic-9-offset-x: -111px;
$pic-9-offset-y: -186px;
$pic-9-width: 94px;
$pic-9-height: 91px;
$pic-9-total-width: 491px;
$pic-9-total-height: 368px;
$pic-9-image: '../img/sprite.png';
$pic-9: (111px, 186px, -111px, -186px, 94px, 91px, 491px, 368px, '../img/sprite.png', 'pic-9', );
$pro-name: 'pro';
$pro-x: 392px;
$pro-y: 0px;
$pro-offset-x: -392px;
$pro-offset-y: 0px;
$pro-width: 99px;
$pro-height: 35px;
$pro-total-width: 491px;
$pro-total-height: 368px;
$pro-image: '../img/sprite.png';
$pro: (392px, 0px, -392px, 0px, 99px, 35px, 491px, 368px, '../img/sprite.png', 'pro', );
$youtube-name: 'youtube';
$youtube-x: 210px;
$youtube-y: 186px;
$youtube-offset-x: -210px;
$youtube-offset-y: -186px;
$youtube-width: 74px;
$youtube-height: 52px;
$youtube-total-width: 491px;
$youtube-total-height: 368px;
$youtube-image: '../img/sprite.png';
$youtube: (210px, 186px, -210px, -186px, 74px, 52px, 491px, 368px, '../img/sprite.png', 'youtube', );
$spritesheet-width: 491px;
$spritesheet-height: 368px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($helix, $icon-alarm-md, $icon-alarm, $logo, $pic-1, $pic-2, $pic-3, $pic-4, $pic-5, $pic-6, $pic-7, $pic-8, $pic-9, $pro, $youtube, );
$spritesheet: (491px, 368px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}




// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
@each $sprite in $sprites {
$sprite-name: nth($sprite, 10);

$slice: #{$sprite-name};
@if str-index($slice, '-hmd') {
$sliceq: str-slice( #{$sprite-name}, 0, -5);
$slice: str-insert($sliceq, ':hover', -1);
} @else if str-index($slice, '-hxs') {
$sliceq: str-slice( #{$sprite-name}, 0, -5);
$slice: str-insert($sliceq, ':hover', -1);
} @else if str-index($slice, '-hover') {
$sliceq: str-slice( #{$sprite-name}, 0, -7);
$slice: str-insert($sliceq, ':hover', -1);
} @else if str-index($slice, '-lg') {
$slice: str-slice( #{$sprite-name}, 0, -4);
} @else if str-index($slice, '-md') {
$slice: str-slice( #{$sprite-name}, 0, -4);
} @else if str-index($slice, '-sm') {
$slice: str-slice( #{$sprite-name}, 0, -4);
} @else if str-index($slice, '-xs') {
$slice: str-slice( #{$sprite-name}, 0, -4);
}



.#{$slice} {
@if ( str-index( #{$sprite-name}, '-hmd') ) {
@include breakpoint("maxmedium") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-hxs') ) {
@include breakpoint("mobileonly") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-hover') ) {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
} @else if ( str-index( #{$sprite-name}, '-lg') ) {
@include breakpoint("maxlarge") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-md') ) {
@include breakpoint("maxmedium") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-sm') ) {
@include breakpoint("maxsmall") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else if ( str-index( #{$sprite-name}, '-xs') ) {
@include breakpoint("mobileonly") {
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}
} @else {
@include sprite($sprite);
}
}
}
}

@include sprites($spritesheet-sprites);
