// begin footer
footer.footer(style="background-image: url('img/bg-3.png');")
	.container
		.row
			.col-lg-3.col-md-6
				.h3 Paalupiste Oy - screw piles
				ul.about-us-footer
					li
						.icon.icon-home
						span Hallitie 4, 06400 Porvoo
					li
						.icon.icon-mobile
						a(href="tel:+358195232312") Tel. / Fax: +358 (0)19 523 2312
					li
						.icon.icon-mail2
						a(href="mailto:someone@example.com?Subject=Hello%20again") E-mail:  info@paalupiste.com
				ul.socials-list
					li
						a(href="#")
							.icon.icon-facebook
					li
						a(href="#")
							.icon.icon-twitter
					li
						a(href="#")
							.icon.icon-instagram
					li
						a(href="#")
							.icon.icon-linkedin
					li
						a(href="#")
							.icon.icon-youtube
			.col-lg-3.col-md-6
				.h3 Quick links
				ul.navi-footer
					li
						a(href="#")
							|Screw piles
					li
						a(href="#")
							|References
					li
						a(href="#")
							|Downloads
					li
						a(href="#")
							|Your nearest retailer
					li
						a(href="#")
							|Ask us to contact you
			.col-lg-3.col-md-6
				.h3 Screw piles in use:
				ul.navi-footer
					li
						a(href="#")
							|Outbuildings
					li
						a(href="#")
							|Terraces
					li
						a(href="#")
							|Cottages and houses
					li
						a(href="#")
							|Fences
					li
						a(href="#")
							|Other
			.col-lg-3.col-md-6
				ul.navi-footer.spacing-top
					li
						a(href="#")
							|Garages
					li
						a(href="#")
							|Piers and landing stages
					li
						a(href="#")
							|Public construction
// end footer
.footer-line
	| © Copyright 2017 - Paalupiste.com
