// begin header
header.header
	.container 
		.row.align-items-center
			.col-lg-3.col-md-12.d-flex.justify-content-between.align-items-center
				a.logo-block(href="#")
					img(src="../img/logo.png", alt="logo")
				.hamburger.hamburger--collapse.js-hamburger
					.hamburger-box
						.hamburger-inner
			.col-lg-9.col-md-8.d-flex.justify-content-end
				ul.menu-list
					li
						a(href="#") Home
					li
						a(href="#") Screw pile
					li
						a(href="#") Quality
					li
						a(href="#") References
					li
						a(href="#") Downloads
					li
						a(href="#") FAQ
					li
						a(href="#") Retailers
					li
						a(href="#") Price-list
					li
						a(href="#") Contact us
// end header
