// begin footer
footer.footer
	.container
		.row.d-flex.align-items-center
			.col-lg-3.col-md-6.col-sm-6
				a.logo-footer(href="#")(style='background-image: url(img/footer-logo.svg);')
			.col-lg-7.d-none.d-lg-block
				ul.menu-footer.d-flex.justify-content-center
					li
						a(href="#") Техника
					li
						a(href="#") Цены
					li
						a(href="#") Услуги
					li
						a(href="#") Рассчитать стоимость
					li
						a(href="#") Контакты
			.col-lg-2.col-md-6.col-sm-6.col-12.d-flex.justify-content-center.d-md-block
				ul.number-list
					li
						a.number-footer(href="#") +7(495) 960-14-98
					li
						a.number-footer(href="#") +7(929) 674-87-89
					li
						a.number-footer(href="#") +7(903) 960-14-98
		.row.d-flex.align-items-center
			.col-lg-4
				.section-dev.d-flex.justify-content-center.justify-content-md-start.align-items-center
					a(href="#").a-dev-txt Дизайн и разработка —
					a(href="#").a-dev-logo(style='background-image: url(img/ruso_logo.svg);')
			.col-lg-4
				.footer-line
					span
						|© 2019 manipulator199rus. 
					|Все права защищены
			.col-lg-4
// end footer
