// begin header
header.header
	.container
		.row.align-items-sm-center
			.col-lg-3.col-md-6.col-sm-6.col-xs-12
				.logo
					a(href="#")(style='background-image: url(img/logo.svg);')
			.col-lg-6.col-md-1.d-none.d-lg-inline-block
				ul.maine-menu
					li
						a(href="#") техника
					li
						a(href="#") Цены
					li
						a(href="#") услуги
					li
						a(href="#") Рассчитать стоимость
					li
						a(href="#") Контакты
			.col-lg-3.col-md-6.col-sm-6.col-xs-12.text-sm-right.text-center
				a.number(href="#") +7(495) 960-14-98
	ul.maine-menu-mobile.d-flex.justify-content-center.flex-column.align-items-center
		li
			a(href="#") техника
		li
			a(href="#") Цены
		li
			a(href="#") услуги
		li
			a(href="#") Рассчитать стоимость
		li
			a(href="#") Контакты
	button.hamburger.hamburger--collapse(type='button')
		span.hamburger-box
			span.hamburger-inner
// end header