
.button {
	display: inline-block;
	cursor: pointer;

	border-radius: 3px;

	background-color: #3f70d5;
	background-image: linear-gradient(to right, #3f70d5 0%, #7fbc51 100%);

	background-repeat: repeat-y;
	background-position: 150px 0;
	transition: background-position .2s ease;

	padding: 10px 20px;

	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;

	position: relative;
	overflow: hidden;

	&:hover {
		background-position: 0px 0;
	}
}





.btn {
	display: inline-block;

	background-color: transparent;
	background-image: linear-gradient(to right, #3f70d5 0%, #7fbc51 100%);
	border-radius: 4px;

	font-size: 14px;
	text-decoration: none;

	position: relative;
	padding: 10px 20px;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 2px;
		bottom: 2px;
		left: 2px;
		right: 2px;
		background-color: #fff;
		border-radius: 2px;
		transition: opacity .2s ease;
	}
	span {
		position: relative;
		color: #4376ba;
		transition: color .2s ease;
	}
	&:hover {
		span {
			color: #fff;
		}
		background: #4376bb;
		&:before {
			opacity: 0;
		}
	}
}
