.up-button {
    // background: url(../img/up-btn.svg) center top no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: $colortxt;
    opacity: 0.7;
    border-radius: 50%;
    background-size: 100% 100%;
    position: fixed;
    z-index: 10;
    bottom: 80px;
    right: 100px;
    transform: translateY(160px);
    transition: .3s ease;

    @include breakpoint("maxlarge") {
        width: 35px;
        height: 35px;
        right: 25px;
        bottom: 25px;
    }

    i {

        margin: 0;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 21;
        font-size: 14px;
    }

    &:hover {
        background-color: lighten($colortxt, 10);
    }
    transition: .3s;
    &:active {
        background-color: lighten($colortxt, 30);
        transition: .3s;
    }

    &_show {
        transform: translateY(0);
    }
}
.index-button {
	z-index: 20!important;
	 
}